dashboard/dashboard_nodered.json
[{"id":"425e06b0377c4af7","type":"tab","label":"Estação meteorologica","disabled":false,"info":"","env":[]},{"id":"df738c08ec24a5a0","type":"tab","label":"Estufa","disabled":false,"info":"","env":[]},{"id":"cd594d52e44f43a1","type":"tab","label":"System","disabled":false,"info":""},{"id":"1d9943f37e995e90","type":"mqtt-broker","name":"MQTT-teste","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"56dcc9f21eaa9772","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#075154","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#075154","edited":true},"page-titlebar-backgroundColor":{"value":"#075154","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0d959b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#075154","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f50d6585c87e41fd","type":"ui_tab","name":"Estação Metereológica","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"381f9cd25c56fe62","type":"ui_tab","name":"Estufa","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2248aa46.11d1c6","type":"ui_tab","name":"System","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"1398779182d4f8c8","type":"ui_group","d":true,"name":"Dados","tab":"f50d6585c87e41fd","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"c09b40a4f401f6e5","type":"ui_group","name":"Dados","tab":"381f9cd25c56fe62","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"2631142d.86f8fc","type":"ui_group","name":"CPU","tab":"2248aa46.11d1c6","order":2,"disp":true,"width":"6","collapse":true},{"id":"4a3f1d17.42abc4","type":"ui_group","name":"SD card","tab":"2248aa46.11d1c6","order":4,"disp":true,"width":"6","collapse":true},{"id":"8e72d94d.e2b8c8","type":"ui_group","name":"Memory","tab":"2248aa46.11d1c6","order":3,"disp":true,"width":"6","collapse":true},{"id":"688ce44bf4565b0e","type":"ui_group","name":"Gauges","tab":"f50d6585c87e41fd","order":2,"disp":false,"width":"8","collapse":false,"className":""},{"id":"74f2682b0ac4c0a7","type":"ui_group","name":"Graficos linha","tab":"f50d6585c87e41fd","order":3,"disp":false,"width":"8","collapse":false,"className":""},{"id":"ed5ee9b09197b480","type":"ui_group","name":"Gauges","tab":"381f9cd25c56fe62","order":2,"disp":true,"width":5,"collapse":false,"className":""},{"id":"421b1923fc38aba5","type":"ui_group","name":"Status","tab":"381f9cd25c56fe62","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"480a0a5d507e57f1","type":"ui_group","name":"Série temporal","tab":"f50d6585c87e41fd","order":4,"disp":false,"width":"8","collapse":false,"className":""},{"id":"611d36c470787113","type":"sqlitedb","db":"database.db","mode":"RWC"},{"id":"5ded9f42d2764b91","type":"ui_group","name":"setpoints","tab":"381f9cd25c56fe62","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f69db7824649cbfb","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"1398779182d4f8c8","order":3,"width":8,"height":1},{"id":"54fea58db7bb910c","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"1398779182d4f8c8","order":6,"width":8,"height":1},{"id":"3ff2844ea5ec84ac","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"1398779182d4f8c8","order":8,"width":4,"height":1},{"id":"170a5f0d06cd7da7","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"688ce44bf4565b0e","order":3,"width":"8","height":"1"},{"id":"0514a92b9ffd0a14","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"688ce44bf4565b0e","order":6,"width":"4","height":"1"},{"id":"cea71ca8da8b937d","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"688ce44bf4565b0e","order":10,"width":"8","height":"1"},{"id":"910cab130874414e","type":"ui_spacer","z":"425e06b0377c4af7","name":"spacer","group":"480a0a5d507e57f1","order":3,"width":"8","height":"1"},{"id":"3595b4055f909994","type":"ui_spacer","z":"df738c08ec24a5a0","name":"spacer","group":"c09b40a4f401f6e5","order":2,"width":7,"height":1},{"id":"4cec052908a105b9","type":"ui_spacer","z":"df738c08ec24a5a0","name":"spacer","group":"ed5ee9b09197b480","order":2,"width":5,"height":1},{"id":"9460c282f66ac623","type":"ui_spacer","z":"df738c08ec24a5a0","name":"spacer","group":"ed5ee9b09197b480","order":4,"width":5,"height":1},{"id":"989150b78ef54af9","type":"ui_spacer","z":"df738c08ec24a5a0","name":"spacer","group":"5ded9f42d2764b91","order":2,"width":5,"height":1},{"id":"e20d6e9f64e9c993","type":"ui_spacer","z":"df738c08ec24a5a0","name":"spacer","group":"5ded9f42d2764b91","order":6,"width":5,"height":1},{"id":"2fddf8765076ba39","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/temperature","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["eec603893e59f35c","0cd60fad06c71014","97281f23c734eb9b","f53c205f49f6ec2c"]]},{"id":"8c3567b61a9e3d4b","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/pressure","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":280,"wires":[["a28d622a940c23ca","85d0367414d5184e","d8bacd17dc1767f7","391603c83d5cb9cb"]]},{"id":"741db03594a6bc26","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/lux","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":540,"wires":[["a4cf5fe5b8d4b4ce","d1d81d73667b29eb","7191d8f22a753b13"]]},{"id":"a4cf5fe5b8d4b4ce","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":8,"width":"4","height":3,"gtype":"gage","title":"Iluminância","label":"lx","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":370,"y":600,"wires":[]},{"id":"85d0367414d5184e","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":9,"width":"4","height":3,"gtype":"donut","title":"Pressão atmosférica","label":"hPa","format":"{{value}}","min":"300","max":"1100","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":400,"y":360,"wires":[]},{"id":"96a710fe512e70ca","type":"ui_chart","z":"425e06b0377c4af7","name":"","group":"74f2682b0ac4c0a7","order":1,"width":8,"height":"6","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1b73b1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":80,"wires":[[]]},{"id":"eec603893e59f35c","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":1,"width":"4","height":3,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00fbff","#00ff33","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":390,"y":160,"wires":[]},{"id":"0cd60fad06c71014","type":"ui_text","z":"425e06b0377c4af7","group":"1398779182d4f8c8","order":1,"width":4,"height":1,"name":"","label":"Temperatura","format":"{{msg.payload}}ºC","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":120,"wires":[]},{"id":"4d9c7da813e5823f","type":"ui_chart","z":"425e06b0377c4af7","name":"","group":"74f2682b0ac4c0a7","order":3,"width":8,"height":"6","label":"Pressão","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":600,"y":280,"wires":[[]]},{"id":"a28d622a940c23ca","type":"ui_text","z":"425e06b0377c4af7","group":"1398779182d4f8c8","order":7,"width":4,"height":1,"name":"","label":"Pressão atmosférica","format":"{{msg.payload}}hPa","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":400,"y":320,"wires":[]},{"id":"5c12b396b0d3dcc0","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/humidity","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":440,"wires":[["6a032b314b59fec9","f8e7fe443427f0ef","476e2c4651b025c6"]]},{"id":"f8e7fe443427f0ef","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":2,"width":"4","height":3,"gtype":"gage","title":"Umidade do ar","label":"%","format":"{{value}}","min":"20","max":"90","colors":["#ff0000","#00ff33","#ffdd00"],"seg1":"","seg2":"","diff":false,"className":"","x":380,"y":480,"wires":[]},{"id":"6a032b314b59fec9","type":"ui_text","z":"425e06b0377c4af7","group":"1398779182d4f8c8","order":2,"width":4,"height":1,"name":"","label":"Umidade","format":"{{msg.payload}}%","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":360,"y":440,"wires":[]},{"id":"73adf81a26deee4c","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/angle","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":640,"wires":[["9754c764c0e9d780","500ab94787193b31"]]},{"id":"9754c764c0e9d780","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":5,"width":"4","height":"3","gtype":"compass","title":"Direção do vento","label":"°","format":"{{value}}","min":0,"max":"360","colors":["#f5d400","#00ff33","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":390,"y":640,"wires":[]},{"id":"e0c0689adaa33dd6","type":"ui_text","z":"425e06b0377c4af7","group":"688ce44bf4565b0e","order":7,"width":"4","height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":680,"wires":[]},{"id":"500ab94787193b31","type":"function","z":"425e06b0377c4af7","name":"function 2","func":"if(msg.payload >= 338 || msg.payload < 23) {\n    msg.payload = 'Norte'\n}\nif(msg.payload >= 23 && msg.payload < 68) {\n    msg.payload = 'Nordeste'\n}\nif(msg.payload >= 68 && msg.payload < 113) {\n    msg.payload = 'Leste'\n}\nif(msg.payload >= 113 && msg.payload < 158) {\n    msg.payload = 'Sudeste'\n}\nif(msg.payload >= 158 && msg.payload < 203) {\n    msg.payload = 'Sul'\n}\nif(msg.payload >= 203 && msg.payload < 248) {\n    msg.payload = 'Sudoeste'\n}\nif(msg.payload >= 248 && msg.payload < 293) {\n    msg.payload = 'Oeste'\n}\nif(msg.payload >= 293 && msg.payload < 338) {\n    msg.payload = 'Noroeste'\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":680,"wires":[["e0c0689adaa33dd6"]]},{"id":"48eb4a3b6117b11d","type":"mqtt in","z":"425e06b0377c4af7","name":"","topic":"station/wind_speed","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":740,"wires":[["d55e86a9eea57321","5886b3389cd2ad63"]]},{"id":"5886b3389cd2ad63","type":"ui_gauge","z":"425e06b0377c4af7","name":"","group":"688ce44bf4565b0e","order":4,"width":"4","height":3,"gtype":"gage","title":"Velocidade do vento","label":"km/h","format":"{{value}}","min":0,"max":"25","colors":["#00ff33","#ffdd00","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":400,"y":780,"wires":[]},{"id":"d55e86a9eea57321","type":"ui_text","z":"425e06b0377c4af7","group":"1398779182d4f8c8","order":4,"width":4,"height":1,"name":"","label":"Velocidade do vento","format":"{{msg.payload}} km/h","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":400,"y":740,"wires":[]},{"id":"d1d81d73667b29eb","type":"ui_text","z":"425e06b0377c4af7","group":"1398779182d4f8c8","order":5,"width":4,"height":1,"name":"","label":"Iluminância","format":"{{msg.payload}} lx","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":370,"y":560,"wires":[]},{"id":"49eaeb856de55305","type":"sqlite","z":"425e06b0377c4af7","mydb":"611d36c470787113","sqlquery":"msg.topic","sql":"","name":"","x":530,"y":900,"wires":[["d116cb36d358be97"]]},{"id":"d116cb36d358be97","type":"debug","z":"425e06b0377c4af7","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":1020,"wires":[]},{"id":"645fcc998b0696cc","type":"inject","z":"425e06b0377c4af7","name":"Create table temperature","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS temperature(id INTEGER PRIMARY KEY AUTOINCREMENT, temperature NUMERIC, timestamp numeric)","x":270,"y":860,"wires":[["49eaeb856de55305"]]},{"id":"983261f67bf72a87","type":"function","z":"425e06b0377c4af7","name":"Montagem_insert_temperature","func":"msg.topic = \"INSERT INTO temperature(temperature, timestamp) values(\" + msg.payload + \",\"+ Math.floor(new Date().getTime()/1000) + \")\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1000,"wires":[["49eaeb856de55305"]]},{"id":"63f220812e21d737","type":"sqlite","z":"425e06b0377c4af7","mydb":"611d36c470787113","sqlquery":"msg.topic","sql":"","name":"Bando de dados sqlite","x":660,"y":1160,"wires":[["4e8cdc39a8d3fbf5","35415ba86ef70523"]]},{"id":"828870fbc1a24376","type":"ui_chart","z":"425e06b0377c4af7","name":"","group":"480a0a5d507e57f1","order":4,"width":"8","height":"6","label":"{{msg.topic}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":1160,"wires":[[]]},{"id":"35415ba86ef70523","type":"function","z":"425e06b0377c4af7","name":"function 3","func":"var series = [\"temp DegC\"];  \nvar labels = [\"Data Values\"];  \nvar data = \"[[\";\n\nif (msg.payload[1].hasOwnProperty(\"temperature\")) {\n  msg.topic = \"Temperatura\"\n} else if (msg.payload[1].hasOwnProperty(\"humidity\")) {\n  msg.topic = \"Humidade\"\n} else if (msg.payload[1].hasOwnProperty(\"pressure\")) {\n  msg.topic = \"Pressão atmosferica\"\n}\n\nfor (var i = 0; i < msg.payload.length; i++) {\n  if (msg.payload[i].hasOwnProperty(\"temperature\")) {\n    msg.topic = \"Temperatura\"\n    data += '{ \"x\":' + msg.payload[i].timestamp * 1000 + ', \"y\":' + msg.payload[i].temperature + '}';\n  } else if (msg.payload[i].hasOwnProperty(\"humidity\")) {\n    data += '{ \"x\":' + msg.payload[i].timestamp * 1000 + ', \"y\":' + msg.payload[i].humidity + '}';\n  } else if (msg.payload[i].hasOwnProperty(\"pressure\")) {\n    data += '{ \"x\":' + msg.payload[i].timestamp * 1000 + ', \"y\":' + msg.payload[i].pressure + '}';\n  }\n\n\n  if (i < (msg.payload.length - 1)) {\n    data += \",\"\n  } else {\n    data += \"]]\"\n  }\n}\n\n\nvar jsondata = JSON.parse(data);  \nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];  \n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1160,"wires":[["828870fbc1a24376","a167098591f5c4b4"]]},{"id":"509a0a95b67a4a06","type":"function","z":"425e06b0377c4af7","name":"Montagem_select","func":"if (typeof msg.payload == \"string\") {\n    context.set(\"table\", msg.payload)\n} else {\n    let timestamp_ini = Date.parse(msg.payload.date) + Date.parse(msg.payload.time_ini);\n    let timestamp_end = Date.parse(msg.payload.date) + Date.parse(msg.payload.time_end);\n\n    // msg.topic = \"SELECT * FROM \" + context.get(\"table\")\n    msg.topic = \"SELECT * FROM \" + context.get(\"table\") + \" where timestamp >= \" + (Math.floor(timestamp_ini / 1000) - 10800) + \" and timestamp <= \" + (Math.floor(timestamp_end / 1000) - 10800)\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"table\", \"temperature\")\n","finalize":"","libs":[],"x":430,"y":1160,"wires":[["63f220812e21d737"]]},{"id":"dfaafcaf4a4b074a","type":"ui_form","z":"425e06b0377c4af7","name":"","label":"","group":"480a0a5d507e57f1","order":2,"width":0,"height":0,"options":[{"label":"date","value":"date","type":"date","required":true,"rows":null},{"label":"Hora inicial","value":"time_ini","type":"time","required":true,"rows":null},{"label":"Hora final","value":"time_end","type":"time","required":true,"rows":null}],"formValue":{"date":"","time_ini":"","time_end":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":230,"y":1220,"wires":[["509a0a95b67a4a06"]]},{"id":"c72cb29a9fb05460","type":"link in","z":"425e06b0377c4af7","name":"link in 1","links":["97281f23c734eb9b"],"x":65,"y":1000,"wires":[["983261f67bf72a87"]]},{"id":"97281f23c734eb9b","type":"link out","z":"425e06b0377c4af7","name":"link out 1","mode":"link","links":["c72cb29a9fb05460"],"x":245,"y":160,"wires":[]},{"id":"b5c168dc26b029d9","type":"inject","z":"425e06b0377c4af7","name":"Create table humidity","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS humidity(id INTEGER PRIMARY KEY AUTOINCREMENT, humidity NUMERIC, timestamp numeric)","x":280,"y":940,"wires":[["49eaeb856de55305"]]},{"id":"738264a649b1261e","type":"link in","z":"425e06b0377c4af7","name":"link in 2","links":["d8bacd17dc1767f7"],"x":65,"y":1040,"wires":[["cae485f46be1c871"]]},{"id":"056b8078a9edc662","type":"link in","z":"425e06b0377c4af7","name":"link in 3","links":["476e2c4651b025c6"],"x":65,"y":1080,"wires":[["0a8a56c615c2e511"]]},{"id":"cae485f46be1c871","type":"function","z":"425e06b0377c4af7","name":"Montagem_insert_pressure","func":"msg.topic = \"INSERT INTO pressure(pressure, timestamp) values(\" + msg.payload + \",\"+ Math.floor(new Date().getTime()/1000) + \")\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1040,"wires":[["49eaeb856de55305"]]},{"id":"0a8a56c615c2e511","type":"function","z":"425e06b0377c4af7","name":"Montagem_insert_humidity","func":"msg.topic = \"INSERT INTO humidity(humidity, timestamp) values(\" + msg.payload + \",\"+ Math.floor(new Date().getTime()/1000) + \")\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1080,"wires":[["49eaeb856de55305"]]},{"id":"3200366e7f21ddb3","type":"inject","z":"425e06b0377c4af7","name":"Create table pressure","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS pressure(id INTEGER PRIMARY KEY AUTOINCREMENT, pressure NUMERIC, timestamp numeric)","x":280,"y":900,"wires":[["49eaeb856de55305"]]},{"id":"d8bacd17dc1767f7","type":"link out","z":"425e06b0377c4af7","name":"link out 2","mode":"link","links":["738264a649b1261e"],"x":235,"y":360,"wires":[]},{"id":"476e2c4651b025c6","type":"link out","z":"425e06b0377c4af7","name":"link out 3","mode":"link","links":["056b8078a9edc662"],"x":315,"y":400,"wires":[]},{"id":"8e7ea3c36e13e1c9","type":"ui_dropdown","z":"425e06b0377c4af7","name":"","label":"Selecione um dado:","tooltip":"","place":"Select option","group":"480a0a5d507e57f1","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperatura","value":"temperature","type":"str"},{"label":"Humidade","value":"humidity","type":"str"},{"label":"Pressão atmosférica","value":"pressure","type":"str"}],"payload":"","topic":"table","topicType":"global","className":"","x":180,"y":1160,"wires":[["509a0a95b67a4a06"]]},{"id":"a167098591f5c4b4","type":"debug","z":"425e06b0377c4af7","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":1220,"wires":[]},{"id":"4e8cdc39a8d3fbf5","type":"debug","z":"425e06b0377c4af7","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":1220,"wires":[]},{"id":"50946e88d6f1db78","type":"sqlite","z":"425e06b0377c4af7","mydb":"611d36c470787113","sqlquery":"msg.topic","sql":"","name":"Bando de dados sqlite","x":340,"y":40,"wires":[["f53c205f49f6ec2c"]]},{"id":"f53c205f49f6ec2c","type":"function","z":"425e06b0377c4af7","name":"function 5","func":"if (typeof msg.payload.length !== \"undefined\") {\n  node.warn(\"run table\");\n  for (var i = 0; i < msg.payload.length; i++) {\n    node.send({\"payload\":msg.payload[i].temperature, \"timestamp\":msg.payload[i].timestamp * 1000});\n  }\n} else {\n  node.warn(\"run value\");\n  node.send({\"payload\":msg.payload});\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[["96a710fe512e70ca"]]},{"id":"f4e1e7e50cc79423","type":"inject","z":"425e06b0377c4af7","name":"popule","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM temperature ORDER BY id DESC LIMIT 20;","x":110,"y":40,"wires":[["50946e88d6f1db78"]]},{"id":"996b834e272cf7a4","type":"sqlite","z":"425e06b0377c4af7","mydb":"611d36c470787113","sqlquery":"msg.topic","sql":"","name":"Bando de dados sqlite","x":340,"y":240,"wires":[["391603c83d5cb9cb"]]},{"id":"391603c83d5cb9cb","type":"function","z":"425e06b0377c4af7","name":"function 16","func":"if (typeof msg.payload.length !== \"undefined\") {\n  node.warn(\"run table\");\n  for (var i = 0; i < msg.payload.length; i++) {\n    node.send({ \"payload\": msg.payload[i].pressure, \"timestamp\":msg.payload[i].timestamp * 1000});\n  }\n} else {\n  node.warn(\"run value\");\n  node.send({\"payload\":msg.payload});\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["4d9c7da813e5823f"]]},{"id":"ddc81135738b21ce","type":"inject","z":"425e06b0377c4af7","name":"popule","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM pressure ORDER BY id DESC LIMIT 20;","x":130,"y":240,"wires":[["996b834e272cf7a4"]]},{"id":"7191d8f22a753b13","type":"function","z":"425e06b0377c4af7","name":"function 17","func":"global.set(\"lux\", msg.payload)","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nglobal.set(\"lux\", 0)","finalize":"","libs":[],"x":370,"y":520,"wires":[[]]},{"id":"21f28e6bcbe5c9ee","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/temperature","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["e87161d0a17467a2","3c4f72237755e557","d17ac5af822650b8"]]},{"id":"e87161d0a17467a2","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"ed5ee9b09197b480","order":1,"width":5,"height":3,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00fbff","#00ff33","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":370,"y":120,"wires":[]},{"id":"90afc6d5ea1aa8ea","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/humidity","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":260,"wires":[["6829c4618e8d96be","397c151a24601551","c1d06e7fad3e8ce6","61e6b95c2cc21943"]]},{"id":"397c151a24601551","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"ed5ee9b09197b480","order":3,"width":5,"height":3,"gtype":"gage","title":"Umidade do ar","label":"%","format":"{{value}}","min":"10","max":"100","colors":["#ff0000","#00ff33","#ffdd00"],"seg1":"","seg2":"","diff":false,"className":"","x":380,"y":300,"wires":[]},{"id":"6829c4618e8d96be","type":"ui_text","z":"df738c08ec24a5a0","group":"ed5ee9b09197b480","order":5,"width":5,"height":1,"name":"","label":"Umidade do ar","format":"{{msg.payload}}%","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":380,"y":260,"wires":[]},{"id":"7faceb3ccbe58267","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/hygrometer","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":360,"wires":[["39d8d7bc3838cc68","c04b07ca109fb0bf"]]},{"id":"c04b07ca109fb0bf","type":"ui_text","z":"df738c08ec24a5a0","group":"ed5ee9b09197b480","order":6,"width":5,"height":1,"name":"","label":"Umidade do solo","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":360,"wires":[]},{"id":"28c29f8aaa6fce3d","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"421b1923fc38aba5","order":1,"width":4,"height":3,"gtype":"gage","title":"Iluminação","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":370,"y":500,"wires":[]},{"id":"d642a011b4e8902f","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"421b1923fc38aba5","order":2,"width":4,"height":3,"gtype":"gage","title":"Exaustor","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":360,"y":560,"wires":[]},{"id":"2c0ba905747ed6d7","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"Iluminacão","tooltip":"","group":"421b1923fc38aba5","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":630,"y":40,"wires":[["5e85885aa40b15c4"]]},{"id":"5e85885aa40b15c4","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/lighting","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":870,"y":40,"wires":[]},{"id":"cf07410fe481a29f","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"Exaustor","tooltip":"","group":"421b1923fc38aba5","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":640,"y":160,"wires":[["7c4416d58a8711f7"]]},{"id":"7c4416d58a8711f7","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/cooler","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":870,"y":160,"wires":[]},{"id":"2aea7edbc0c055c4","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/nebulizer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":880,"y":220,"wires":[]},{"id":"831d7768d578a629","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"Nebulizador","tooltip":"","group":"421b1923fc38aba5","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":630,"y":220,"wires":[["2aea7edbc0c055c4"]]},{"id":"68f48e57e1734d9d","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"421b1923fc38aba5","order":3,"width":4,"height":3,"gtype":"gage","title":"Nebulizador","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":370,"y":680,"wires":[]},{"id":"5b798a53cfb4b5ae","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/ventilation","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":880,"y":100,"wires":[]},{"id":"770576568fefb0ba","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"Damper","tooltip":"","group":"421b1923fc38aba5","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":640,"y":100,"wires":[["5b798a53cfb4b5ae"]]},{"id":"c956aa58df12d316","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"421b1923fc38aba5","order":4,"width":4,"height":3,"gtype":"gage","title":"Damper","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":360,"y":620,"wires":[]},{"id":"3c4f72237755e557","type":"ui_chart","z":"df738c08ec24a5a0","name":"","group":"c09b40a4f401f6e5","order":1,"width":7,"height":5,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1b73b1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":370,"y":80,"wires":[[]]},{"id":"c1d06e7fad3e8ce6","type":"ui_chart","z":"df738c08ec24a5a0","name":"","group":"c09b40a4f401f6e5","order":3,"width":7,"height":5,"label":"Umidade do ar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1b73b1","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":380,"y":220,"wires":[[]]},{"id":"39d8d7bc3838cc68","type":"function","z":"df738c08ec24a5a0","name":"function 4","func":"if(msg.payload >= 0 && msg.payload < 1000) {\n    msg.payload = 'Seco';\n}\nif(msg.payload >= 1000 && msg.payload < 2000) {\n    msg.payload = 'Humido';\n}\nif(msg.payload >= 2000 && msg.payload < 3000) {\n    msg.payload = 'Molhado';\n}\nif(msg.payload >= 3000 && msg.payload < 4050) {\n    msg.payload = 'Encharcado';\n} else {\n    msg.payload = 'Sensor fora da terra';\n}\n\nflow.set(\"umi_solo\", msg.payload)\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\n\nflow.set(\"umi_solo\", 50)","finalize":"","libs":[],"x":360,"y":400,"wires":[["61cd75cefc76a384"]]},{"id":"61cd75cefc76a384","type":"ui_text","z":"df738c08ec24a5a0","group":"ed5ee9b09197b480","order":7,"width":5,"height":1,"name":"","label":"Umidade do solo","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":440,"wires":[]},{"id":"f8b1e9d590f50f1c","type":"ui_gauge","z":"df738c08ec24a5a0","name":"","group":"5ded9f42d2764b91","order":8,"width":0,"height":0,"gtype":"gage","title":"Exposição de luz","label":"h","format":"{{value}}","min":0,"max":"6","colors":["#ea210b","#e6e600","#00eb10"],"seg1":"","seg2":"","diff":false,"className":"","x":1110,"y":360,"wires":[]},{"id":"478df192ed8bcb96","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"SP Temperatura","tooltip":"","group":"5ded9f42d2764b91","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"25","max":"40","step":1,"className":"","x":640,"y":440,"wires":[["c15e379d78e382e8"]]},{"id":"712c002c20d7f1c5","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"SP Umidade do ar","tooltip":"","group":"5ded9f42d2764b91","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"20","max":"90","step":1,"className":"","x":650,"y":480,"wires":[["1ce535890eb2642e"]]},{"id":"76688ab56bd204db","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"Exposição de luz","tooltip":"","group":"5ded9f42d2764b91","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"setpoint","topicType":"msg","min":"6","max":"12","step":".5","className":"","x":650,"y":400,"wires":[["45c5efe90e5d630e"]]},{"id":"e52042fe30bb262a","type":"ui_slider","z":"df738c08ec24a5a0","name":"","label":"SP Umidade do solo","tooltip":"","group":"5ded9f42d2764b91","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"setpoint_umi_solo","topicType":"msg","min":"30","max":"70","step":1,"className":"","x":660,"y":520,"wires":[["40408647714143bc"]]},{"id":"45c5efe90e5d630e","type":"function","z":"df738c08ec24a5a0","name":"function 6","func":"msg.ui_control = { \"min\": 0, \"max\": msg.payload}\nflow.set(\"setpoint_luz\", msg.payload)\ndelete(msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"setpoint_luz\", 6)","finalize":"","libs":[],"x":860,"y":400,"wires":[["f8b1e9d590f50f1c"]]},{"id":"7748c1d97ed28778","type":"inject","z":"df738c08ec24a5a0","name":"tick 36s","props":[],"repeat":"36","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":680,"y":360,"wires":[["35804f5585802bb8"]]},{"id":"35804f5585802bb8","type":"function","z":"df738c08ec24a5a0","name":"function 7","func":"if(global.get(\"lux\") >= 5000){\n    flow.set(\"time\", parseFloat((flow.get(\"time\") + 0.01).toFixed(2)))\n\n    // msg = { payload: flow.get(\"time\") }\n    msg.payload = flow.get(\"time\")\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\n\nflow.set(\"time\", 0)\n","finalize":"","libs":[],"x":860,"y":360,"wires":[["f8b1e9d590f50f1c"]]},{"id":"f648da729c910d36","type":"inject","z":"df738c08ec24a5a0","name":"scheduler 18h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"asdf","payload":"","payloadType":"date","x":600,"y":740,"wires":[["24b2e954b626a839"]]},{"id":"24b2e954b626a839","type":"function","z":"df738c08ec24a5a0","name":"Controle iluminação","func":"if (flow.get(\"time\") < flow.get(\"setpoint_luz\")){\n    msg.payload = 100;\n    // msg.delay = (flow.get(\"setpoint_luz\") - flow.get(\"time\"))*60*60*1000\n    msg.delay = 10000\n    return msg;\n}\n\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":740,"wires":[["e2f2f93df1eb65f4","28d034b91a5582f7"]]},{"id":"e2f2f93df1eb65f4","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/lighting","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":1090,"y":820,"wires":[]},{"id":"3742e3717be58567","type":"function","z":"df738c08ec24a5a0","name":"function 9","func":"msg.payload = 0\nflow.set(\"time\", 0)\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\n\n// context.set(\"time\", 0)\n","finalize":"","libs":[],"x":1060,"y":780,"wires":[["e2f2f93df1eb65f4","8687ab9aa0d7d955"]]},{"id":"28d034b91a5582f7","type":"delay","z":"df738c08ec24a5a0","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":740,"wires":[["3742e3717be58567"]]},{"id":"40c6beee28c5ede4","type":"ui_switch","z":"df738c08ec24a5a0","name":"","label":"Irrigação","tooltip":"","group":"421b1923fc38aba5","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":640,"y":280,"wires":[["5a2acfe8426c4254"]]},{"id":"5a2acfe8426c4254","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/irrigation","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":880,"y":280,"wires":[]},{"id":"7608b40b9a6801cc","type":"function","z":"df738c08ec24a5a0","name":"Controle Irrigação","func":"if (flow.get(\"umi_solo\") < flow.get(\"setpoint_umi_solo\")) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":580,"wires":[["1004164a15cd37dc"]]},{"id":"7dccde77133ad1db","type":"inject","z":"df738c08ec24a5a0","name":"tick 60s","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":620,"y":580,"wires":[["7608b40b9a6801cc"]]},{"id":"c15e379d78e382e8","type":"function","z":"df738c08ec24a5a0","name":"function 11","func":"flow.set(\"setpoint_temp\", msg.payload)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"setpoint_temp\", 40)","finalize":"","libs":[],"x":870,"y":440,"wires":[[]]},{"id":"1ce535890eb2642e","type":"function","z":"df738c08ec24a5a0","name":"function 12","func":"flow.set(\"setpoint_umi_ar\", msg.payload)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"setpoint_umi_ar\", 20)","finalize":"","libs":[],"x":870,"y":480,"wires":[[]]},{"id":"40408647714143bc","type":"function","z":"df738c08ec24a5a0","name":"function 13","func":"flow.set(\"setpoint_umi_solo\", msg.payload)\n","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"setpoint_umi_solo\", 40)","finalize":"","libs":[],"x":870,"y":520,"wires":[[]]},{"id":"530481cccadcb39e","type":"function","z":"df738c08ec24a5a0","name":"Controle temp e umi","func":"if(msg.payload) {\n        var control_ventilacao = 0;\n        var control_umidificador = 0;\n        var control_exaustor = 0;\n\n        var limite_erro_i = 15;\n        var ki = 0.1;\n        var kp = 0.7;\n\n        // erro + precisa aquecer\n        // erro - precisa resfriar\n        var erro_atual = flow.get(\"setpoint_temp\") - flow.get(\"temp\")\n\n        node.warn(\"st \" + flow.get(\"setpoint_temp\") +\n                  \" temp \" + flow.get(\"temp\") +\n                  \" erro \" + erro_atual +\n                  \" i \" + context.get(\"erro_i\") +\n                  \" count \" + context.get(\"erro_i\") + (erro_atual * 5));\n\n        context.set(\"erro_i\", context.get(\"erro_i\") + (erro_atual * 5) * ki)\n        if(context.get(\"erro_i\") > limite_erro_i) {\n                context.set(\"erro_i\", limite_erro_i)\n        } else if(context.get(\"erro_i\") < limite_erro_i*-1) {\n                context.set(\"erro_i\", limite_erro_i*-1)\n        }\n\n        var correcao = context.get(\"erro_i\") + (erro_atual * kp)\n\n        node.warn(\"correcao \" + correcao +\n                  \" i \" + context.get(\"erro_i\") +\n                  \" p \" + (erro_atual * kp));\n\n        if (correcao > 0) {\n                var set_umi = (flow.get(\"setpoint_umi_ar\") - flow.get(\"umi_ar\")) * 10;\n                if (set_umi < 0){\n                        set_umi = 0;\n                } else if (set_umi > 100) {\n                        set_umi = 100;\n                }\n\n                node.warn(\"st \" + flow.get(\"setpoint_umi_ar\") +\n                  \" umi \" + flow.get(\"umi_ar\") +\n                  \" set \" + set_umi);\n\n                control_ventilacao = 0;\n                control_umidificador = set_umi;\n                control_exaustor = 0;\n\n        } else if (correcao > -5) {\n                control_ventilacao = parseFloat((correcao * -20).toFixed(2));\n                control_umidificador = 0;\n                control_exaustor = 0;\n\n        } else if (correcao > -10) {\n                control_ventilacao = 100;\n                control_umidificador = parseFloat(((correcao + 5) * -20).toFixed(2));\n                control_exaustor = 0;\n\n        } else {\n                control_ventilacao = 100;\n                control_umidificador = 100;\n                control_exaustor = parseFloat(((correcao + 10) * -20).toFixed(2));\n                if(control_exaustor > 100){\n                        control_exaustor = 100;\n                }\n        }\n\n        node.warn(\"correcao \" + correcao +\n        \" i \" + context.get(\"erro_i\") +\n        \" p \" + (erro_atual * kp));\n\n        return [{ payload: control_ventilacao },\n                { payload: control_umidificador }, \n                { payload: control_exaustor }];\n}\n","outputs":3,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\ncontext.set(\"erro_i\", 0)\n","finalize":"","libs":[],"x":1020,"y":660,"wires":[["e63648fe90f65a19"],["5e767d799a1d1d59"],["2a108482dfc19247"]]},{"id":"bf63135116299e98","type":"inject","z":"df738c08ec24a5a0","name":"tick 5s","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":600,"y":660,"wires":[["c15eb1b7216c8964"]]},{"id":"1004164a15cd37dc","type":"mqtt out","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/irrigation","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1d9943f37e995e90","x":1060,"y":580,"wires":[]},{"id":"d17ac5af822650b8","type":"function","z":"df738c08ec24a5a0","name":"function 14","func":"flow.set(\"temp\", msg.payload)","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"temp\", 30)","finalize":"","libs":[],"x":370,"y":40,"wires":[[]]},{"id":"61e6b95c2cc21943","type":"function","z":"df738c08ec24a5a0","name":"function 15","func":"flow.set(\"umi_ar\", msg.payload)","outputs":1,"timeout":0,"noerr":0,"initialize":"//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nflow.set(\"umi_ar\", 50)","finalize":"","libs":[],"x":370,"y":180,"wires":[[]]},{"id":"a933e0722295d24b","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/lighting","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":500,"wires":[["28c29f8aaa6fce3d"]]},{"id":"8e16dc7adce74134","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/cooler","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":560,"wires":[["d642a011b4e8902f"]]},{"id":"40cdc642cc8835d6","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/ventilation","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":620,"wires":[["c956aa58df12d316"]]},{"id":"11bdde9bd015b2ec","type":"mqtt in","z":"df738c08ec24a5a0","name":"","topic":"greenhouse/nebulizer","qos":"2","datatype":"auto-detect","broker":"1d9943f37e995e90","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":680,"wires":[["68f48e57e1734d9d"]]},{"id":"e63648fe90f65a19","type":"link out","z":"df738c08ec24a5a0","name":"link out 4","mode":"link","links":["d537525f7176f438"],"x":1205,"y":640,"wires":[]},{"id":"5e767d799a1d1d59","type":"link out","z":"df738c08ec24a5a0","name":"link out 5","mode":"link","links":["27818068f8f1f092"],"x":1165,"y":660,"wires":[]},{"id":"2a108482dfc19247","type":"link out","z":"df738c08ec24a5a0","name":"link out 6","mode":"link","links":["5b2deb2e09cb99a4"],"x":1205,"y":680,"wires":[]},{"id":"d537525f7176f438","type":"link in","z":"df738c08ec24a5a0","name":"link in 4","links":["e63648fe90f65a19"],"x":525,"y":100,"wires":[["770576568fefb0ba"]]},{"id":"5b2deb2e09cb99a4","type":"link in","z":"df738c08ec24a5a0","name":"link in 5","links":["2a108482dfc19247"],"x":525,"y":160,"wires":[["cf07410fe481a29f"]]},{"id":"27818068f8f1f092","type":"link in","z":"df738c08ec24a5a0","name":"link in 6","links":["5e767d799a1d1d59"],"x":525,"y":220,"wires":[["831d7768d578a629"]]},{"id":"8687ab9aa0d7d955","type":"link out","z":"df738c08ec24a5a0","name":"link out 7","mode":"link","links":["5c68ed939892e712"],"x":1195,"y":780,"wires":[]},{"id":"5c68ed939892e712","type":"link in","z":"df738c08ec24a5a0","name":"link in 7","links":["8687ab9aa0d7d955","d521f9ffd56f8e9a"],"x":905,"y":320,"wires":[["f8b1e9d590f50f1c"]]},{"id":"c15eb1b7216c8964","type":"ui_switch","z":"df738c08ec24a5a0","name":"","label":"Controle automático","tooltip":"","group":"5ded9f42d2764b91","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":800,"y":660,"wires":[["530481cccadcb39e"]]},{"id":"6a79eb14949bd7f8","type":"inject","z":"cd594d52e44f43a1","name":"30 sec tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":320,"wires":[["26b64e37a19536ba","3db32e8f4f592f62","f4fd3aee1aa83586","d2c6af5356e94fca","88c1955e6c4ee555"]]},{"id":"82cb61e1d51769dc","type":"ui_gauge","z":"cd594d52e44f43a1","name":"","group":"2631142d.86f8fc","order":2,"width":3,"height":2,"gtype":"gage","title":"CPU load","label":"%","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","diff":false,"className":"","x":880,"y":460,"wires":[]},{"id":"6d393d136109f343","type":"ui_gauge","z":"cd594d52e44f43a1","name":"","group":"4a3f1d17.42abc4","order":2,"width":6,"height":4,"gtype":"wave","title":"Used","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","diff":false,"className":"","x":870,"y":240,"wires":[]},{"id":"394ff09ae4ab7796","type":"ui_chart","z":"cd594d52e44f43a1","name":"","group":"2631142d.86f8fc","order":4,"width":6,"height":4,"label":"Load, %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":880,"y":500,"wires":[[]]},{"id":"d37b1bea1012819e","type":"ui_chart","z":"cd594d52e44f43a1","name":"","group":"4a3f1d17.42abc4","order":1,"width":6,"height":6,"label":"Storage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":880,"y":200,"wires":[[]]},{"id":"65b900e5e23913bf","type":"ui_gauge","z":"cd594d52e44f43a1","name":"","group":"8e72d94d.e2b8c8","order":2,"width":0,"height":0,"gtype":"donut","title":"RAM usage","label":"%","format":"{{msg.payload.memusage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","diff":false,"className":"","x":890,"y":360,"wires":[]},{"id":"7f6ce224da593fa5","type":"ui_chart","z":"cd594d52e44f43a1","name":"","group":"8e72d94d.e2b8c8","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":400,"wires":[[]]},{"id":"5660f22a7d499d08","type":"ui_gauge","z":"cd594d52e44f43a1","name":"","group":"2631142d.86f8fc","order":3,"width":3,"height":2,"gtype":"gage","title":"CPU Temp","label":"°C","format":"{{ msg.payload }}","min":"30","max":"80","colors":["#00ff11","#fbff00","#ca3838"],"seg1":"70","seg2":"85","diff":false,"className":"","x":890,"y":580,"wires":[]},{"id":"814171fd1fb59ccc","type":"function","z":"cd594d52e44f43a1","name":"extract","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["7f6ce224da593fa5"]]},{"id":"74a1bb283fa8aaab","type":"function","z":"cd594d52e44f43a1","name":"convert_uptime","func":"var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + (s).toFixed(2);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":300,"wires":[["ececf211d9ce9139"]]},{"id":"26b64e37a19536ba","type":"Memory","z":"cd594d52e44f43a1","name":"","x":480,"y":380,"wires":[["65b900e5e23913bf","814171fd1fb59ccc"]]},{"id":"3db32e8f4f592f62","type":"Uptime","z":"cd594d52e44f43a1","name":"Uptime","x":480,"y":300,"wires":[["74a1bb283fa8aaab"]]},{"id":"0b80a7f94def7111","type":"ui_chart","z":"cd594d52e44f43a1","name":"","group":"2631142d.86f8fc","order":5,"width":6,"height":3,"label":"Temperature, °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":620,"wires":[[]]},{"id":"681129f4ecc86312","type":"debug","z":"cd594d52e44f43a1","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":660,"wires":[]},{"id":"ececf211d9ce9139","type":"ui_text","z":"cd594d52e44f43a1","group":"8e72d94d.e2b8c8","order":1,"width":0,"height":0,"name":"","label":"Uptime, d:h:m:s","format":"{{ msg.payload }}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":900,"y":300,"wires":[]},{"id":"f4fd3aee1aa83586","type":"exec","z":"cd594d52e44f43a1","command":"top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cpu_load","x":480,"y":480,"wires":[["82cb61e1d51769dc","394ff09ae4ab7796"],[],[]]},{"id":"d2c6af5356e94fca","type":"exec","z":"cd594d52e44f43a1","command":"df -m | grep root","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_sd_usage","x":480,"y":200,"wires":[["bc508fcc55284915"],[],[]]},{"id":"bc508fcc55284915","type":"function","z":"cd594d52e44f43a1","name":"convert","func":"var msg1,msg2,msg3,l;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":200,"wires":[["d37b1bea1012819e"],["d37b1bea1012819e"],["d37b1bea1012819e","6d393d136109f343"]]},{"id":"88c1955e6c4ee555","type":"exec","z":"cd594d52e44f43a1","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry CPU Temperature","x":400,"y":580,"wires":[["a79620b601edb2dc"],[],[]]},{"id":"a79620b601edb2dc","type":"function","z":"cd594d52e44f43a1","name":"Extract CPU Temp","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["5660f22a7d499d08","0b80a7f94def7111","681129f4ecc86312"]]},{"id":"9f6f65f1bca32cc5","type":"exec","z":"cd594d52e44f43a1","command":"sudo poweroff #","addpay":"","append":"","useSpawn":"","timer":"","winHide":false,"name":"turn off Pi","x":534,"y":719,"wires":[[],[],[]]},{"id":"11d94730e6905252","type":"ui_button","z":"cd594d52e44f43a1","name":"","group":"2631142d.86f8fc","order":1,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":720,"wires":[["9f6f65f1bca32cc5"]]}]